<div class="page-incidents">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <div class="incidents">
    <% @reports.order(submit_date: :desc).each do |rep| %>
      <% if rep.furniture.name == "Immeuble / Commerce / Monument" %>
        <% degr = "immeuble.svg" %>
      <% elsif rep.furniture.name == "Chaussée / Voirie" %>
        <% degr = "voirie.svg" %>
      <% elsif rep.furniture.name == "Signalétique / Eclairage" %>
        <% degr = "signal.svg" %>
      <% elsif rep.furniture.name == "Parcs / Jardins" %>
        <% degr = "parc.svg" %>
      <% elsif rep.furniture.name == "Chantier" %>
        <% degr = "chantier.svg" %>
      <% else %>
        <% degr = "urbain.svg" %>
      <% end %>
      <div class="incident">
        <% elapsed_time = (Date.today - rep.submit_date).to_i %>
        <% if elapsed_time == 0 %>
          <p id="text-right">Aujourd'hui</p>
        <% else %>
          <p id="text-right">Il y a <%= pluralize(elapsed_time, "jour") %></p>
        <% end %>
        <div class="flex-incident">
          <div class="status-incident text-center">
            <% if rep.status.name == 'En attente de traitement' %>
              <%= image_tag("atraiter.svg", class: "img-status") %>
              <p id="color-attente">En attente</p>
            <% elsif rep.status.name == 'Commande en cours' %>
              <%= image_tag("commande.svg", class: "img-status") %>
              <p id="color-commande">Commandé</p>
            <% elsif rep.status.name == 'Intervention programmée' %>
              <%= image_tag("programme.svg", class: "img-status") %>
              <p id="color-programme">Programmé</p>
            <% else %>
              <%= image_tag("encours.svg", class: "img-status") %>
              <p id="color-encours">En cours</p>
            <% end %>
          </div>
          <div class="incident-content">
            <div class="flex-incident-content">
              <div>
              <p><%= rep.degradation.name %></p>
              <p id="inc-addr" ><%= rep.address.split(",")[0] %></p>
              </div>
            </div>
          </div>
          <div class="flex-incident-content-logo">
            <%= image_tag(degr, class: "img-degr") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <!-- <h2>Si vous voulez contacter votre mairie</h2> -->
  <div class="container card-mairie">
  <div class = "row">
    <div class = "col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card-base">
        <div class="card-icon ima"><%= image_tag("Library.svg", class:"imagecard") %>
          <div class="card-data widgetCardData">
            <h2 class="box-title">Mairie de <%= @city.name %></h2>

            <p class="card-block text-center"><%= @city.council_address %></p>
            <p class="card-block text-center"><%= @city.council_email %></p>
            <p class="card-block text-center"><%= @city.council_website %></p>
            <p class="card-block text-center"><%= @city.council_phone %></p>
          </div>
        </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= link_to 'Accueil', root_path, class: "btn btn--border btn--primary btn--animated" %>
    </div>
  </div>
</div>

</div>
