<div class="grid-dash-city">
  <!-- sidebar -->
  <div class="sidebar-dash-city">
    <nav class="sidebar">
      <ul class="nav list-group">
        <li class="nav-item active">
          <%= link_to image_tag("dashboard.png", alt: "dashboard", height: 50, width: 50, border: 0), city_path %>
        </li>
        <li class="nav-item">
          <%= link_to image_tag("todo.png", alt: "To do list", width: 50, height: 50, border: 0), report_path %>
        </li>
        <li class="nav-item">
          <%= link_to image_tag("info.png", alt: "To do list", width: 70, height: 70, border: 0), city_path %>
        </li>
        <li class="nav-item">
        <%= link_to image_tag("archive.png", alt: "To do list", width: 70, height: 70, border: 0), city_path %>      </ul>
      </nav>
    </div>
    <div class="stats-line-dash-city text-center">

      <table>
        <tr>
          <td>Total incidents déclarés</td>
          <td>En attente de traitement</td>
          <td>En cours de résolution</td>
          <td>Intervention programée</td>
          <td>Total incidents résolus</td>
        </tr>
        <tr>
          <td><%= @city.reports.size %> </td>
          <td><%= @attente %></td>
          <td><%= @cours %></td>
          <td><%= @prog %></td>
          <td><%= @resolu %></td>
        </tr>
      </table>

   </div>
    <div class="rest-grid-dash-city">
      <div class="map-dash-city">
        <!-- GOOGLE MAP -->
        <div id="map" style="width: 100%; height: 800px; border-radius: 5px; "></div>
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
        }
        });
        });
        <% end %>
        <% end %>
      </div>
      <!-- GOOGLE MAP END -->
      <div class="stats-col-dash-city">
        <h4 class="text-center">Répartition par types d'incidents</h4>
        <div class="padding-chart" id="chart1"></div>
        <h4 class="text-center">Répartition par support</h4>
        <div class= "padding-chart" id="chart2"></div>
        <% content_for(:after_js) do %>
        <% if Report.joins(:degradation).where(city: @city).group(:name).count.blank? %>
        <%= pie_chart [["Aucun incident déclaré", 100]], id: "chart1", donut: true, legend: "bottom", colors: ["#95E1D3"] %>
        <% else %>
        <%= pie_chart Report.joins(:degradation).where(city: @city).group(:name).count, id: "chart1", donut: true, legend: "bottom" %>
        <% end %>
        <% if Report.joins(:furniture).where(city: @city).group(:name).count.blank? %>
        <%= pie_chart [["Aucun incident déclaré", 100]], id: "chart2", donut: true, legend: "bottom", colors: ["#F38181"] %>
        <% else %>
        <%= pie_chart Report.joins(:furniture).where(city: @city).group(:name).count, id: "chart2", donut: true, legend: "bottom" %> <!-- , adapter: "google" , adapter: "high-->
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
