<!-- multistep form -->
<div class="form-page">
<form id="msform" method="post" action="/reports" enctype="multipart/form-data">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

  <ul id="progressbar">
    <li class="active">Adresse</li>
    <li>Type d'incident</li>
    <li>Détails</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Lieu de l'incident</h2>
    <h3 class="fs-subtitle">Où êtes-vous ?</h3>
    <input type="text" id="address" name="report[address]" placeholder="Indiquez votre adresse" />
    <div id="map_canvas" ></div>
    <input type="text" id="postal_code" placeholder="Code Postal" />
    <input type="text" id="city" name="report[city]" placeholder="Ville" />
    <input id="out" type='button' class="action-button btn btn-success" value='Me trouver' onclick="getLocation();"/>
    <input type="button" name="next" class="next action-button btn btn-success" value="Suivant" />
  </fieldset>

  <fieldset>
    <h2 class="fs-title">Type d'incident</h2>
    <h3 class="fs-subtitle">Quel incident ?</h3>
      <select class="form-control select required" name="report[degradation_id]" id="report_degradation_id"><option value="" disabled selected hidden> Choisir le type de dégradation</option>
      <% Degradation.all.each do |degration| %>
        <option class="dropdown-list" value="<%= degration.id %>"><%= degration.name %> </option>
        <% end %>
      </select>

      <h3 class="fs-subtitle">Sur quel mobilier ?</h3>
      <select class="form-control select required" name="report[furniture_id]" id="report_furniture_id"><option value="" disabled selected hidden> Choisir le type de mobilier</option>
      <% Furniture.all.each do |furniture| %>
      <option class="dropdown-list" value="<%= furniture.id %>"><%= furniture.name %></option>
      <% end %>
      </select>
    <input type="button" name="previous" class="previous action-button btn btn-success" value="Précédent" />
    <input type="button" name="next" class="next action-button btn btn-success" value="Suivant" />
  </fieldset>

  <fieldset>
    <h2 class="fs-title">Informations complémentaires</h2>
    <h3 class="fs-subtitle">Photo et description</h3>
    <input class="file optional" type="file" name="report[picture]" id="report_picture" >
    <textarea class="form-control text optional" name="report[description]" id="report_description" placeholder="Description"></textarea>
    <input type="button" name="previous" class="previous action-button btn btn-success" value="Précédent" />
<!--     <input type="submit" name="submit" class="submit action-button btn btn-success" value="Submit" /> -->
    <button class="submit action-button btn btn-success">Soumettre</button>
  </fieldset>
</form>
</div>
