 <div class="main-grid-todo">
  <div class="vertical-navbar-todo">
    <nav class="sidebar-test">
      <ul class="nav-test list-group">
        <li class="nav-item-test">
          <%= link_to image_tag("dashboard-2.png", alt: "dashboard", height: 30, width: 30, border: 0), city_path %>
        </li>
        <li class="nav-item-icon-description-test"> DASHBOARD </li>
        <li class="selected-test">
          <%= link_to image_tag("todo-2.png", alt: "To do list", width: 30, height: 30, border: 0), report_path %>
        </li>
        <li class="nav-item-icon-description-test"> LISTE </li>
        <li class="nav-item-test">
          <%= link_to image_tag("info-2.png", alt: "To do list", width: 30, height: 30, border: 0), city_path %>
        </li>
        <li class="nav-item-icon-description-test"> MA VILLE </li>
        <li class="nav-item-test">
        <%= link_to image_tag("archive-2.png", alt: "To do list", width: 30, height: 30, border: 0), city_path %>
        </li>
        <li class="nav-item-icon-description-test"> ARCHIVES </li>
      </ul>
    </nav>
  </div>

  <div class="cards-container-todo border-and-margin">
    <div class="ranking-choice">
      <div id="by-priority" class="selected">PRIORITÉ</div>
      <div id="by-date" class="unselected">DATE</div>
    </div>
    <div id="sort-by-priority">
      <% @reports.order(priority_id: :desc).each do |rep| %>
        <%= link_to report_path(rep) do%>
          <div class="card-index-todo border-and-margin">
            <div class="priority-color-card <%= "#{rep.priority.name}" + "-color" %>"></div>
            <div class="degradation"> <%=rep.degradation.name %> </div>
            <div class="creation-date"><%=rep.submit_date %></div>
            <div class="furniture"> <%=rep.furniture.name %> </div>
            <div class="status"> <%= rep.status.name %> </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="sort-by-date" style="display: none;">
      <% @reports.order(submit_date: :desc).each do |rep| %>
        <%= link_to report_path(rep) do%>
          <div class="card-index-todo border-and-margin">
            <div class="priority-color-card <%= "#{rep.priority.name}" + "-color" %>"></div>
            <div class="degradation"> <%=rep.degradation.name %> </div>
            <div class="creation-date"><%=rep.submit_date %></div>
            <div class="furniture"> <%=rep.furniture.name %> </div>
            <div class="status"> <%= rep.status.name %> </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-show-grid-todo border-and-margin">
    <div class="vertical-color-line <%= "#{@report.priority.name}" + "-color" %>"></div>
    <div class="priority-text text-form">Priorité :</div>
    <div class="priority content-form-important <%= "#{@report.priority.name}" + "-text-color" %>">
      <%=@report.priority.name %>
    </div>
    <div class="creation-date-text text-form">Déclaré le : </div>
    <div class="creation-date content-form-important"><%=@report.submit_date %></div>
    <div class="resolution-date-text text-form">
      <% if @report.resolution_date.nil? %>
        <%= "" %>
      <% else %>
        <%="Résolu le :" %>
      <% end %>
    </div>
    <div class="resolution-date content-form-important">
      <% if @report.resolution_date.nil? %>
        <%= "" %>
      <% else %>
        <%=@report.resolution_date %>
      <% end %>
    </div>
    <div class="degradation-text text-form">Dégradation :</div>
    <div class="degradation content-form-important"> <%=@report.degradation.name %></div>
    <div class="furniture-text text-form">Fourniture :</div>
    <div class="furniture content-form-important"> <%=@report.furniture.name %></div>
    <div class="location-text text-form">Addresse :</div>
    <div class="location content-form"> <%=@report.address %></div>
    <div class="description-text text-form">Descritpion :</div>
    <div class="description content-form"> <%=@report.description %></div>
    <div class="cta-box">
      <div class="status-text text-form"> Slectionnez le status en cours :</div>
      <div class="status-btn attente">
        <%= simple_form_for @report do |f| %>
          <%= f.input :status_id, as: :hidden,  input_html: {value: Status.find_by_name('En attente de traitement').id} %>
          <%= f.button :button, class: "#{@report.status.name == 'En attente de traitement' ? 'selected-btn' :  'unselected-btn'} btn-style" do %>
            EN ATTENTE
          <% end %>
        <% end %>
      </div>
      <div class="status-btn commande-cours">
        <%= simple_form_for @report do |f| %>
          <%= f.input :status_id, as: :hidden,  input_html: {value: Status.find_by_name('Commande en cours').id} %>
          <%= f.button :button, class: "#{@report.status.name == 'Commande en cours' ? 'selected-btn' :  'unselected-btn'} btn-style" do %>
            COMMANDE EN <br> COURS
          <% end %>
        <% end %>
      </div>
      <div class="status-btn intervention-pgm">
        <%= simple_form_for @report do |f| %>
          <%= f.input :status_id, as: :hidden,  input_html: {value: Status.find_by_name('Intervention programmée').id} %>
          <%= f.button :button, class: "#{@report.status.name == 'Intervention programmée' ? 'selected-btn' :  'unselected-btn'} btn-style" do %>
            INTERVENTION <br> PROGRAMMÉE
          <% end %>
        <% end %>
      </div>
      <div class="status-btn intervention-cours">
        <%= simple_form_for @report do |f| %>
          <%= f.input :status_id, as: :hidden,  input_html: {value: Status.find_by_name('Intervention en cours').id} %>
          <%= f.button :button, class: "#{@report.status.name == 'Intervention en cours' ? 'selected-btn' :  'unselected-btn'} btn-style" do %>
            INTERVENTION <br> EN COURS
          <% end %>
        <% end %>
      </div>
      <div class="status-btn resolu">
        <%= simple_form_for @report do |f| %>
          <%= f.input :status_id, as: :hidden,  input_html: {value: Status.find_by_name('Résolu').id} %>
          <%= f.button :button, class: "#{@report.status.name == 'Résolu' ? 'selected-btn' :  'unselected-btn'} btn-style" do %>
            RÉSOLU
          <% end %>
        <% end %>
      </div>
      <div class="status-btn annule">
        <%= simple_form_for @report do |f| %>
          <%= f.input :status_id, as: :hidden,  input_html: {value: Status.find_by_name('Annulé').id} %>
          <%= f.button :button, class: "#{@report.status.name == 'Annulé' ? 'selected-btn' :  'unselected-btn'} btn-style" do %>
            ANNULÉ
          <% end %>
        <% end %>
      </div>
    </div>
     <!--  <div class="title">Resolution date</div> -->
     <!-- <div class="resolution"><%#=@report.resolution_date %></div>-->
    <div class="messages border-and-margin">
      <div class="list-of-messages">
      <div class="card-message-title"> Ajoutez vos notes :</div>
        <% @report.messages.order(submit_message_date: :desc).each do |mes| %>
            <div class="card-message-todo">
              <div class="message-content"> <%=mes.note %> </div>
              <div class="message-date"><%=mes.submit_message_date %></div>
            </div>
        <% end %>
      </div>
      <div class="form-add-a-message">
        <%= simple_form_for [@report,   @new_message] do | f | %>
          <%= f.input :note %>
          <%= f.submit %>
        <% end %>
        <!-- <form action="">
            <input type="text" name="new-message" class="input-text-message">
            <input type="submit" value="Add" class="btn-message">
        </form> -->
      </div>
    </div>
    <div class="picture-flexbox">
      <%#= image_tag "graffiti.jpg" %>
      <%= cl_image_tag @report.picture.path, crop: :fill %>
    </div>
    <div id="map"></div>
    <% content_for(:after_js) do %>
      <script>
        $(document).ready(function() {

          var styles =
          [ ]

          ;
          var handler = Gmaps.build('Google');
          handler.buildMap({
            provider: { styles: styles},
            internal: { id: 'map' },
            }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      </script>
      <script>
      let date = new Date();
      date.setDate(date.getDate()-1);

      $(document).ready(function(){
        $('.datepicker').datepicker({
          language: 'fr',
          autoclose: true,
          orientation: "top right",
          postion: "absolute",
          startDate: date,
          datesDisabled: <%= raw @reservedDates %>
        });
      });
      </script>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

<script>
  // JS for the hover of the cards
  const cards = document.querySelectorAll('.card-index-todo');

  function addColor() {
    let classToAdd = this.childNodes[1].classList[1]
    this.classList.add(classToAdd);
  }

  function removeColor() {
    let classToRemove = this.childNodes[1].classList[1]
    this.classList.remove(classToRemove);
  }

  cards.forEach(card => card.addEventListener('mouseenter', addColor));
  cards.forEach(card => card.addEventListener('mouseleave', removeColor));

  // JS for the CTA in the show of the card

  // JS for the filter button
  const byPriority = document.getElementById('sort-by-priority');
  const byDate = document.getElementById('sort-by-date');
  const btnByPriority = document.getElementById('by-priority');
  const btnByDate = document.getElementById('by-date');

  function sortByPriority() {
    byDate.style.display = 'none';
    byPriority.style.display = 'block';
    btnByPriority.classList.add("selected")
    btnByPriority.classList.remove("unselected")
    btnByDate.classList.remove("selected")
    btnByDate.classList.add("unselected")
  }
  function sortByDate() {
    byPriority.style.display = 'none';
    byDate.style.display = 'block';
    btnByDate.classList.add("selected")
    btnByDate.classList.remove("unselected")
    btnByPriority.classList.remove("selected")
    btnByPriority.classList.add("unselected")
  }

  btnByPriority.addEventListener('click', sortByPriority);
  btnByDate.addEventListener('click', sortByDate);

</script>

