<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Embelissez votre ville">
    <meta property="og:title" content="J'aime ma ville - Embelissez votre ville" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.ma-ville.pw" />
    <meta property="og:image" content="http://res.cloudinary.com/lmdn/image/upload/v1503321964/og_ksayae.jpg" />
    <meta property="og:description" content="Le geste citoyen pour améliorer le quotidien." />
    <meta property="og:site_name" content="J'aime ma ville" />
    <title>J'aime ma ville</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <!-- FAVICON -->
    <%= render 'application/favicon' %>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
